<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <h1 class="text-3xl font-bold text-center mb-6">Bienvenido al Sistema de Registro de Asistencias</h1>    
    <p class="text-center text-gray-600 ">Utiliza nuestra plataforma para registrar y gestionar las asistencias de manera eficiente y eficaz a través del uso de un ESP32.</p>
    <p class="text-center text-gray-600 mb-8">Logeate y posteriormente conectate al wifi para registrar tu asistencia</p>
    <button type="button" (click)="login()" class="btn btn-primary text-center bg-green-300 rounded-xl p-3">Iniciar sesión</button>
</div>
